body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-style:normal;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:121px;
  height:56px;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-style:normal;
}
#u999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1299px;
  width:86px;
  height:28px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u1000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u1001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:997px;
  height:1015px;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1331px;
  width:997px;
  height:1015px;
}
#u1001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:2376px;
  width:86px;
  height:28px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u1002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u1003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:579px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:2414px;
  width:469px;
  height:579px;
}
#u1003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:157px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  line-height:20px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:111px;
  width:314px;
  height:157px;
  line-height:20px;
}
#u1004_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:294px;
  word-wrap:break-word;
}
#u1005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:188px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  line-height:20px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:1331px;
  width:314px;
  height:188px;
  line-height:20px;
}
#u1005_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:294px;
  word-wrap:break-word;
}
#u1006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1064px;
  height:1158px;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:111px;
  width:1064px;
  height:1158px;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
}
#u1006_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:188px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  line-height:20px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:2414px;
  width:314px;
  height:188px;
  line-height:20px;
}
#u1007_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:294px;
  word-wrap:break-word;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:50px;
  height:3000px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
